<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Furka 1</h1>
        <div>
            <table>
                <tr>
                    <td>
                        <p>Manufacturer:</p>
                    </td>
                    <td>
                        <p th:text="${carManufacturer.id}"></p>
                    </td> 
                    <td>
                        <p th:text="${carManufacturer.name}"></p>
                    </td>                                        
                </tr>
                <tr>
                    <td>
                        <p>Model:</p>
                    </td>
                    <td>
                        <p th:text="${carModel.id}"></p>
                    </td>
                    <td>
                        <p th:text="${carModel.manufacturer.name}"></p>
                    </td>
                    <td>
                        <p th:text="${carModel.name}"></p>
                    </td>
                </tr>
            </table>    
        </div>
    </body>
</html>
