<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title th:text="${header}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <section layout:fragment="content">
            <h1 th:text="${header}"></h1>
            <form th:action="${action}" method="POST" class="form-horizontal" th:object="${offer}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tytuł:</label>
                    <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{title}')?'has-error':''}">
                        <input type="text" class="form-control" th:field="*{title}"/>
                        <span th:if="${#fields.hasErrors('*{title}')}">Tytuł musi posiadać minimum 5 znaków!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rocznik:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{year}')?'has-error':''}">
                        <input type="number" class="form-control" th:field="*{year}"/>
                        <span th:if="${#fields.hasErrors('*{year}')}">Rocznik musi być z przedziału 1900-2021</span>
                    </div>
                    <label class="col-sm-2 control-label">Przebieg:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{mileage}')?'has-error':''}">
                        <input type="number" class="form-control" th:field="*{mileage}"/>
                        <span th:if="${#fields.hasErrors('*{mileage}')}">Wpisz przebieg samochodu przebieg!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Pojemność silnika:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{engineSize}')?'has-error':''}">
                        <input type="number" step="0.1" class="form-control" th:field="*{engineSize}"/>
                        <span th:if="${#fields.hasErrors('*{engineSize}')}">Wpisz pojemność silnika!</span>
                    </div>
                    <label class="col-sm-2 control-label">Moc silnika:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{enginePower}')?'has-error':''}">
                        <input type="number" class="form-control" th:field="*{enginePower}"/>
                        <span th:if="${#fields.hasErrors('*{enginePower}')}">Wpisz moc silnika!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Liczba drzwi:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{doors}')?'has-error':''}">
                        <input type="number" class="form-control" th:field="*{doors}"/>
                        <span th:if="${#fields.hasErrors('*{doors}')}">Ilość drzwi musi być z przedziału 1-5</span>
                    </div>
                    <label class="col-sm-2 control-label">Kolor:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{colour}')?'has-error':''}">
                        <input type="text" class="form-control" th:field="*{colour}"/>
                        <span th:if="${#fields.hasErrors('*{colour}')}">Samochód musi mieć kolor!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Model:</label>
                    <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{model}')?'has-error':''}">
                        <select class="form-control" th:field="*{model.id}">
                            <option th:each="md : ${carModels}" th:value="${md.id}" th:text="|${md.manufacturer.name} ${md.name}|"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nadwozie:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{bodyStyle}')?'has-error':''}">
                        <select class="form-control" th:field="*{bodyStyle.id}">
                            <option th:each="bs : ${bodyStyles}" th:value="${bs.id}" th:text="${bs.name}"></option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">Rodzaj paliwa:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{fuelType}')?'has-error':''}">
                        <select class="form-control" th:field="*{fuelType.id}">
                            <option th:each="ft : ${fuelTypes}" th:value="${ft.id}" th:text="${ft.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cena:</label>
                    <div class="col-sm-4" th:classappend="${#fields.hasErrors('*{price}')?'has-error':''}">
                        <input type="number" class="form-control" th:field="*{price}"/>
                        <span th:if="${#fields.hasErrors('*{price}')}">Wpisz cenę samochodu!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Opis:</label>
                    <div class="col-sm-10" th:classappend="${#fields.hasErrors('*{description}')?'has-error':''}">
                        <textarea class="form-control" rows="5" th:field="*{description}"/>
                        <span th:if="${#fields.hasErrors('*{description}')}">Opis musi mieć conajmniej 5 znaków!</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="hidden" th:field="*{id}" />
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="Zapisz" class="form-control btn btn-primary"/>
                    </div>
                    <div class="col-sm-4">
                        <a href="/" class="btn btn-default">Anuluj</a>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
